In [46]:
import pandas as pd

df = pd.read_csv('dmr7days.csv')

df.head(1000)

,ID,Summary_Group,Summary_Type,FormatCode,Day1,Day2,Day3,Day4,Day5,Day6,Day7,Total,BatchNo,AuditDate,Hotel_ID
0,1,Key Staticstics,Room Available,N,256.00,256.00,256.00,256.00,256.00,256.00,256.00,1792.00,20220419-070026,2021-12-19,1
1,2,Key Staticstics,Room Occupied,N,44.00,58.00,46.00,44.00,105.00,137.00,35.00,469.00,20220419-070026,2021-12-19,1
2,3,Key Staticstics,# of Guest,N,72.00,89.00,80.00,73.00,174.00,260.00,63.00,811.00,20220419-070026,2021-12-19,1
3,4,Key Staticstics,Room Density,N2,1.64,1.53,1.74,1.66,1.66,1.90,1.80,1.73,20220419-070026,2021-12-19,1
4,5,Key Staticstics,No of Arrivals,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,20220419-070026,2021-12-19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Key Staticstics,Avg Daily Rate,C2,158.86,173.85,208.43,139.30,150.90,156.23,140.19,173.32,20220419-070329,2022-02-09,1
996,997,Key Staticstics,RevPAR,C2,14.27,39.39,72.46,17.41,12.97,18.31,12.05,26.69,20220419-070329,2022-02-09,1
997,998,Total Revenue,Total Revenue,C,11719.19,11040.59,21140.97,5554.39,3709.63,5260.14,3340.92,61765.83,20220419-070329,2022-02-09,1
998,999,Total Revenue,Total Rev POR,C,45.78,43.13,82.58,21.70,14.49,20.55,13.05,34.47,20220419-070329,2022-02-09,1
999,1000,Total Revenue,Avg Spend/Guest,C2,334.83,103.18,123.63,104.80,103.05,107.35,98.26,127.35,20220419-070329,2022-02-09,1

In [47]:
# Focus on Key Statistics First
# Decide on Data Structure: Column of 7dayMA for each Summary Statistic

# Calculate 7dayMA
cols = ['Day1', 'Day2', 'Day3', 'Day4', 'Day5', 'Day6', 'Day7']
df['7dayMA'] = df[cols].astype(float).mean(axis=1)

# Create wide table of KeyStats timeseries
df = df.pivot(index='AuditDate', columns='Summary_Type', values='7dayMA')

#Start 2022
df = df[df.index > '2021-12-31']

df.head()

Summary_Type,# of Guest,Avg Bkfst Spend/Cover,Avg Daily Rate,Avg Spend/Guest,Breakfast Capture %,Car Parking,F&B Revenue,Forward Holding,No of Arrivals,No of Departure,Occupancy %,Other Revenue,RevPAR,Room Available,Room Density,Room Occupied,Room Revenue,Total Rev POR,Total Revenue
AuditDate,,,,,,,,,,,,,,,,,,,
2022-01-01,87.857143,0.0,287.150000,172.270000,44.440000,NaN,662.280000,NaN,10.000000,41.000000,17.690000,313.370,25.800,256.0,1.945714,45.285714,6604.390000,29.6100,7580.040
2022-01-02,74.142857,0.0,232.910000,141.450000,78.410000,NaN,411.365000,NaN,15.500000,50.000000,14.564286,361.925,18.485,256.0,1.971429,37.285714,4731.515000,21.5050,5504.805
2022-01-03,62.857143,0.0,207.533333,124.716667,74.193333,NaN,279.393333,NaN,22.333333,56.333333,12.275714,324.920,16.610,256.0,1.965714,31.428571,4251.796667,18.9700,4856.110
2022-01-04,60.428571,0.0,206.232500,123.560000,44.870000,NaN,249.500000,NaN,31.500000,61.000000,12.051429,383.075,19.965,256.0,1.932857,30.857143,5111.020000,22.4375,5743.595
2022-01-05,61.000000,0.0,200.092000,119.972000,20.288000,NaN,231.164000,NaN,39.400000,66.400000,12.218571,433.554,21.046,256.0,1.925714,31.285714,5387.762000,23.6440,6052.480

In [47]:
# TODO: Visual Concepts